@model IEnumerable<Entry>

<table>
    <tr>
        <th>Status</th>
        <th>Text</th>
        <th>List</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><input asp-for="@item.IsDone" id="@item.Id" /></td>
            <td>@item.Text</td>
            <td>
                <button class="delete" asp-controller="Home" asp-action="Delete" method="post" id="@item.Id">-</button>
            </td>
            <td>@item.ListId</td>
        </tr>
    }
</table>

<script>
    $(document).ready(function () {
        $(':checkbox').change(function () {
            var id = $(this).attr("id");
            $.ajax({
                url: '/Home/UpdateTaskStatus',
                type: 'POST',
                data: { id: id },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $('.delete').click(function () { 
            var id = $(this).attr("id");
            $.ajax({
                url: '/Home/Delete',
                type: 'POST',
                data: {id: id },
                success: function (data) {
                    $('#entries-list').html(data);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            })
        })
    });
</script>